{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet" />
  <title>{% block title %} {% endblock %}</title>
</head>

<body class="bg-gray-100">
  <header class="bg-gray-50 py-5 font-poppins scroll-smooth gradient-background">
    <div class="container mx-auto">
      <h1 class="text-3xl text-white font-bold">Statistics</h1>
    </div>
  </header>

  <div class="flex">
    <nav class="w-1/4 bg-gray-200 p-4 min-h-screen shadow-inner">
      <ul class="space-y-4">
        <li><a href="/portfolio" class="block py-2 px-4 rounded hover:bg-gray-300 transition-colors duration-200">Profile</a></li>
      </ul>
    </nav>

    <main class="w-3/4 p-8">
      {% block body %} {% endblock %}
    </main>
  </div>
</body>

</html>